.loading {
    overflow: hidden;
    width: 160px;
    height: 60px;
    margin: 0 auto;
}
.loading_size .loading_txt {
    font-size: 12px;
    margin-left: -20px;
}
.loading_size .loading_box {
    transform: scale(.4);
}
.loading_box {
    float: left;
    width: 80px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}

.loading_txt {
    float: left;
    width: 80px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
}

.loading_box span {
    width: 4px;
    height: 16px;
    background-color: #ccc;
    position: absolute;
    left: 38px;
    -webkit-animation: loading 1s infinite;
}

.loading_box.line1 {
    background-color: #000;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: .3s;
}

.loading_box .line2 {
    top: 5px;
    left: 52px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-delay: .4s;
}

.loading_box .line3 {
    top: 18px;
    left: 57px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: .5s;
}

.loading_box .line4 {
    top: 31px;
    left: 52px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-animation-delay: .6s;
}

.loading_box .line5 {
    top: 37px;
    -webkit-animation-delay: .7s;
}

.loading_box .line6 {
    top: 32px;
    left: 24px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation-delay: .8s;
}

.loading_box .line7 {
    top: 18px;
    left: 19px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation-delay: .9s;
}

.loading_box .line8 {
    top: 5px;
    left: 24px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes loading {
    0% {
        background-color: #ccc;
    }
    50% {
        background-color: #000;
    }
    100% {
        background-color: #ccc;
    }
}
